<h1><p class="solid">MY PROFILE</p></h1>
<br>
<img src= "foto-diri.jpg" height=200px />

<ul>
    <li><b>Nama</b>                    :   Andika Yogy Pradana</li>
    <li><b>Tempat Tanggal Lahir</b>    :   Langsa, 1 September 1994</li>
    <li><b>Alamat</b>                :   Jalan Sekata No. 34 B Medan</li>
    <li><b>GitHub</b>                 :   andikayogypradana94</li>
    <li><b>GitLab</b>                 :   @andikayogypradana94</li>
</ul>
</div>

<style>
     p.solid {border-style: solid;}
</style>